<!-- inherit from base.html -->
{% extends 'final_app/base_template.html' %}

{% block content %}

  <!-- doesn't work correctly - do not want to do all messages-->
  {% for message in messages %}
    <p>{{message}}</p>
  {% endfor %}

  {% if form.errors %}
    <p style="color: #ffffff">Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p style="color: #ffffff">Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p style="color: #ffffff">Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td style="color: #ffffff">{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td style="color: #ffffff">{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="Login">
    <input type="hidden" name="next" value="{% url 'home_page' %}">
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}"><strong>Lost password?</strong></a></p>

  <br>
  <a class="btn" style="background-color: #C6A67E" href="{% url 'register_page' %}" role="button">Don't Have an Account? Register Now!</a>

{% endblock %}
