{% extends 'final_app/base_template.html' %}

{% block content %}
<h3 style="color: #ffffff">Car Owner: {{ car.owner }}</h3>

<p style="color: #ffffff"><strong>Make:</strong> {{ car.make }}</p>
<p style="color: #ffffff"><strong>Model:</strong> {{ car.model }}</p>
<p style="color: #ffffff"><strong>Year:</strong> {{ car.year }}</p>
<p style="color: #ffffff"><strong>Color:</strong> {{ car.color }}</p>

<a class="btn" style="background-color: #C6A67E" href="{% url 'edit_car' car.id %}" role="button">Edit Car</a>
<a class="btn" style="background-color: #C6A67E" href="{% url 'delete_car' car.id %}" role="button">Delete Car</a>

{% endblock %}
