{% extends 'final_app/base_template.html' %}

{% block content %}
<h1 style="color: #ffffff">Car List</h1>
{% if car_list %}
<ul>
{% for car in car_list %}
<li style="color: #C6A67E">
<a style="color: #C6A67E" href="{{ car.get_absolute_url }}">{{ car.make }}</a>
</li>
{% endfor %}
</ul>
{% else %}
<p style="color: #C6A67E">There are no cars saved.</p>
{% endif %}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
