<!-- inherit from base.html-->
{% extends "final_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
{% load static %}

<div class="container">
    <div class="col-md-16 px-0">
        <img src="{% static 'images/super_sports_cars-HD.jpg' %}" class="img-fluid">
    </div>
</div>
<h2 style="color: #ffffff">Cars on Garage Takes</h2>
<br>
<h5 style="color: #ffffff">Most Recently Added Cars</h5>
<ul class="list-group">
{% for car in homepage_cars %}
<li class="list-group-item" >Owner: {{ car.owner }} 
<p><br>Make: {{ car.make }} <br>
Model: {{ car.model }}</p>
<a class="btn text-white" style="background-color: #32393F" href="{{ car.get_absolute_url }}" role="button">Visit Car</a>
</li>
{% endfor %}
</ul>

<br>
<a class="btn" style="background-color: #C6A67E" href="{% url 'cars' %}" role="button">See All Cars</a>
<a class="btn" style="background-color: #C6A67E" href="{% url 'create_car' %}" role="button">Create New Car</a>


{% endblock %}
